@model User



@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="col-form-label"></label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="col-form-label"></label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmailAddress" class="col-form-label"></label>
        <input asp-for="EmailAddress" class="form-control"/>
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfBirth" class="col-form-label"></label>
        <input asp-for="DateOfBirth" class="form-control" value="null" min="@(DateTime.Now.AddYears(-100).ToString("yyyy/MM/dd"))" max="@(DateTime.Now.ToString("yyyy/MM/dd"))"/>
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Country" class="col-form-label"></label>
        <select asp-for="Country" asp-items=@(new SelectList(Country.GetCountries)) class="form-control"></select>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State" class="col-form-label"></label>
        <select asp-for="State" asp-items="null" class="form-control"></select>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create New User" class="btn" asp-action="SubmitUser" id="createButton"/>
    </div>
}



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


    <script type="text/javascript" language="javascript">

        //Prevent validation from happening on key press.
        //This cannot be in document ready function, so this is a self invoking anonymous method.
        (function() {
            $.validator.setDefaults({ onkeyup: false });


        })();


        $(document).ready(function() {

            //MVC doesn't support datetime ranges as part of validation
            //So this adds custom validation on the client side.
            $('#DateOfBirth').rules("add",
                {
                    messages: {
                        min: "Please enter a date within the last 100 years.",
                        max: "You cannot enter in a date from the future.",
                        required: "Please enter in your birth date."
                    }});


// It is currently not possible to do a passive event in JQuery, so utilizing plain javascript.
        document.getElementById('Country').addEventListener('change',
            function(eventArgs) {
                var selectedCountry = (eventArgs.currentTarget.value);

                $('#State').empty();

                $.ajax({
                    url: '@(Url.Action("GetStates"))',
                    type: 'POST',
                    data: { country: selectedCountry },
                    success: function (result) {

                        //Add empty option as first value
                        $('#State').append('<option></option>');

                        //Append options to select element
                        $.each(result,
                            function(index, state) {
                                $('#State').append(`<option>${state}</option>`);
                            });
                    }
                });
            }, {passive:true});

    });

    </script>