@{
    ViewData["Title"] = "Home Page";

}
@using System.Security.Cryptography.X509Certificates
@using Microsoft.AspNetCore.Mvc.ModelBinding.Metadata
@using Microsoft.AspNetCore.Mvc.ViewEngines
@model WebApplication1.Controllers.FakeDatabase

<div>

    <p>Try entering the same e-mail address as Linda to test Real-Time Server Validation.</p>
    @await Html.PartialAsync("CurrentUsers", Model.Users)
    
    
    @await Html.PartialAsync("CreateUser",Model.CurrentUser)
    
   
</div>

